<header class="header js-header overlay">
  <div class="container">
    <div class="header-items-container">
      <div class="logo-container">
        <a href="">
          <svg class="logo-icon" width="24px" height="24px">
              <use href="/images/icons/logo.svg"></use>
          </svg>
        </a>
        <a href="./index.html" class="logo-text">Filmoteka</a>
      </div>
      <div class="links-container">
        <a href="./index.html" class="header-link active">HOME</a>
        <a href="./library.html" class="header-link">MY LIBRARY</a>
      </div>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="search-input input-js form-control"
        name="query"
        placeholder="Поиск фильмов"
      />
      <p class="error-msg">
        Search result not successful. Enter the correct movie name and
      </p>
    </div>
    <!-- <div class="buttons-container">
      <button type="button" class="button-watched js-button-watched">WATCHED</button>
      <button type="button" class="button-queue js-button-queue">QUEUE</button>
    </div> -->
  </div>
</header>
