<header class="header js-header overlay">
    <div class="container">
      <div class="header-items-container">
        <div class="logo-container">
          <a href="" class="logo-icon">
            <svg class="logo-icon" width="24px" height="24px">
              <use href="/images/icons/logo.svg"></use>
          </svg>
          </a>
          <a href="./index.html" class="logo-text">Filmoteka</a>
        </div>
        <div class="links-container">
          <a href="./index.html" class="header-link">HOME</a>
          <a href="./library.html" class="header-link active">MY LIBRARY</a>
        </div>
      </div>
      <div class="buttons-container">
        <button type="button" class="btn-is-active btn-not-active js-button">WATCHED</button>
        <button type="button" class="btn-not-active btn-is-active js-button">QUEUE</button>
      </div>
    </div>
  
</header>
  <div class="backdrop" data-modal>
      <div class="modal">
        <img src="/images/modal/mobile-1x.jpg" alt="">
        <!-- <picture class="gallery-photo">
          <source
            srcset="
              /images/modal/mobile-1x.jpg 1x,
              /images/modal/mobile-2x.jpg 2x,
              /images/modal/mobile-3x.jpg 3x,
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
            ./images/tablet-1x.jpg 1x,
            ./images/tablet-2x.jpg 2x,
            ./images/tablet-3x.jpg 3x,
            "
            media="(max-width: 1024px)"
          />
          <source
            srcset="
              ./images/desktop-1x.jpg 1x,
              ./images/desktop-2x.jpg 2x,
              ./images/desktop-3x.jpg 3x,
            "
          />
          <img
            src="/images/modal/mobile-1x.jpg"
            alt="Фото процесса работы 1"
          /> 
        </picture> -->
        <h2 class="film-title-modal">A FISTFUL OF LEAD</h2>
        <div class="film-info">
          <div class="data-film-titles">
            <p class="title-description">Vote / Votes</p>
            <p class="title-description">Popularity </p>
            <p class="title-description">Original Title</p>
            <p class="title-description">Genre</p>
          </div>
          <div class="dynamic-data">
            <p class="dynamic-data-title">/</p>
            <p class="dynamic-data-title">100.2</p>
            <p class="dynamic-data-title">A FISTFUL OF LEAD</p>
            <p class="dynamic-data-title">Western</p>
          </div>
        </div>
        <div class="description-film">
          <h3 class="film-about-title">ABOUT</h3>
          <p class="film-about">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
        </div>
        <button class="add-to-watched button-modal  add-to-watched-js">ADD TO WATCHED</button>
        <button class="add-to-queue button-modal-is-active add-to-queue-js">ADD TO QUEUE</button>
      </div>
  </div>

        
  