<header class="header js-header overlay">
    <div class="container">
      <div class="header-items-container">
        <div class="logo-container">
          <a href="" class="logo-icon">
            <svg class="logo-icon" width="24px" height="24px">
              <use href="/images/icons/logo.svg"></use>
          </svg>
          </a>
          <a href="./index.html" class="logo-text">Filmoteka</a>
        </div>
        <div class="links-container">
          <a href="./index.html" class="header-link">HOME</a>
          <a href="./library.html" class="header-link active">MY LIBRARY</a>
        </div>
      </div>
      <div class="buttons-container">
        <button type="button" class="btn-is-active btn-not-active js-button">WATCHED</button>
        <button type="button" class="btn-not-active btn-is-active js-button">QUEUE</button>
      </div>
    </div>
  </header>

        
  