<section class="section">
  <div class="container">
    <ul class="galery js-galery">
      <li class="galery__item">
        <article class="card">
          <a href="" class="card__link">
            <img src="/images/main/5e04c21a52a39.jpg" alt="Тестовая картинка" />
            <div class="card__meta">
              <h2 class="card__title">GREYHOUND</h2>
              <p class="card__text">Dramma, Action | 2020</p>
            </div>
          </a>
        </article>
      </li>
      <li class="galery__item">
        <article class="card">
          <a href="" class="card__link">
            <img src="/images/main/5e04c21a52a39.jpg" alt="Тестовая картинка" />
            <div class="card__meta">
              <h2 class="card__title">GREYHOUND</h2>
              <p class="card__text">Dramma, Action | 2020</p>
            </div>
          </a>
        </article>
      </li>
      <li class="galery__item">
        <article class="card">
          <a href="" class="card__link">
            <img src="/images/main/5e04c21a52a39.jpg" alt="Тестовая картинка" />
            <div class="card__meta">
              <h2 class="card__title">GREYHOUND</h2>
              <p class="card__text">Dramma, Action | 2020</p>
            </div>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
