.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms $animationTimingFunction, visibility 250ms $animationTimingFunction;
    z-index: 5;
    overflow-y: scroll;
    padding: 50px 30px;
    
}



// .backdrop.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//     transition: $animationTimingFunction;
// }


.modal {
    left: auto;
    right: auto;
    overflow-y: scroll;
    position: relative;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    z-index: 1;
    width: 100%;

    @media screen and (max-width: $mobile) {
        max-width: $mobile;
    }

    @media screen and (min-width: $tablet)  {
        max-width: $tablet;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
    }
}

.modal-container {
    @media screen and (max-width: $mobile) {
        max-width: $mobile;
    }
    @media screen and (min-width: $tablet)  {
        max-width: $tablet;
        
    }
}

.modal-image {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $tablet) {
        margin-right: 30px;
    }
 
    

    
}

.film-title-modal {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}

.film-info {
    display: flex;
}

.data-film-titles {
    display: inline-block;
    width: 108px;
}

.dynamic-data {
    display: inline-block;
}

.title-description {
    color: $filmDescriptionColor;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.dynamic-data-title {
    color: $filmTitleColor;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.film-about-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}


.film-about {
    
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    @media screen and (min-width: $tablet) {
        width: 294px
    }

}

// .dynamic-data {
//     position: relative;
// }

.raiting-flat {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-left: 7px;
    padding-right: 7px;

    background-color: $accentColor;
    color: $headerTextColor;
    border-radius: 5px;
}

.votes-count {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-left: 7px;
    padding-right: 7px;;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-top: 11px;
}

.film-info-container {
    
    width: 280px;
    @media screen and (min-width: $tablet) {
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: $tablet) {
 
        width: 294px
    }
    @media screen and (min-width: $tablet) {

        width: 426px;
    }
}

.close-button {
    position: absolute;
    background-color: $headerTextColor;
    top: 3px;
    right: 7px;
    border: tra;
    color: $filmDescriptionColor;
    justify-content: center;
    outline: transparent;

}